@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass {
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
  }
  .blured {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
  }
  .shodow-max {
    -webkit-box-shadow: inset 0px 0px 39px -15px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: inset 0px 0px 39px -15px rgba(0, 0, 0, 0.19);
    box-shadow: inset 0px 0px 39px -15px rgba(0, 0, 0, 0.19);
  }
  .gradient {
    background: rgb(255, 231, 185);
    background: -moz-linear-gradient(
      36deg,
      rgba(255, 231, 185, 1) 0%,
      rgba(0, 255, 254, 1) 100%
    );
    background: -webkit-linear-gradient(
      36deg,
      rgba(255, 231, 185, 1) 0%,
      rgba(0, 255, 254, 1) 100%
    );
    background: linear-gradient(
      36deg,
      rgba(255, 231, 185, 1) 0%,
      rgba(0, 255, 254, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe7b9",endColorstr="#00fffe",GradientType=1);
  }
}
